<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Roll</th>
                        <th scope="col">CreatedDate</th>
                        <th scope="col">ModifiedDate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of student">
                        <!-- <th scope="row">1</th> -->
                        <td>{{item.id}}</td>
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.rollNumber}}</td>
                        <td>{{item.createdDate}}</td>
                        <td>{{item.modifiedDate | date}}</td>

                    </tr>


                </tbody>
            </table>


        </div>
    </div>
</div>